<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body class="bg-gray-900">
  <header>
    {{ partial "header.html" . }}
  </header>
  <main>
    {{ block "main" . }}{{ end }}
  </main>
  <footer>
    {{ if .IsHome }}
      <!-- Footer For The Home Page-->
      {{ partial "simple-footer.html" .  }}
    {{ else }}
      {{ partial "footer.html" . }}
    {{ end }}
  </footer>
</body>
</html>
